<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odin - Recipes: Sandwich</title>
</head>
<body>
    <h1>Sandwich</h1>
    <img src="../res/seriously-low-carb-FZ4y_IDUJ6w-unsplash.jpg" alt="lasagna" width="300px">
    <!-- Credit: https://unsplash.com/@rabbit_in_blue -->

    <h2>Description</h2>
    <p>The ultimate snack. Easy to prepare and make.</p>
    <p>A food typically consisting of vegetables, sliced cheese or meat, placed on or between slices of bread, or more generally any dish wherein bread serves as a container or wrapper for another food type.</p>

    <h2>Ingredients</h2>
    <ul>
        <li>Two Bread Slices</li>
        <li>Any Protein</li>
        <li>Your Favorite Fruits and/or Veggies</li>
        <li>Cheese (Optional)</li>
    </ul>

    <h2>Steps</h2>
    <ol>
        <li>Choose a base for your sandwich. Place one slice of bread on a plate.</li>
        <li>Pick a spread. Using a butter knife, apply to one slice of your bread. You also can leave your bread dry and move on to the next step.</li>
        <li>Choose one or two protein foods to place on top of your spread or base of your sandwich.</li>
        <li>Add your favorite low-fat cheese (optional).</li>
        <li>Pile on fruits and veggies! Choose one or more.</li>
        <li>Place the remaining slice of bread on top and enjoy!</li>
    </ol>
</body>
</html>