.recipe {
    margin-bottom: 20px;
}

.recipe ul,
.recipe ol,
.recipe p {
    padding: 10px 6px;
    margin-bottom: 24px;
}

.recipe ul {
    list-style-type: disc;
}

.recipe ol {
    list-style-type: decimal;
}

.recipe ul li,
.recipe ol li {
    padding: 4px 0;
}

.recipe .btn {
    padding: 10px;
    min-width: 120px;
}

.recipe img {
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    margin: 20px;
}