.recipe ul,
.recipe ol,
.recipe p,
.recipe img {
    padding: 10px 6px;
    margin-bottom: 24px;
}

.recipe ul {
    list-style-type: disc;
}

.recipe ol {
    list-style-type: decimal;
}

.recipe ul li,
.recipe ol li {
    padding: 4px 0;
}