.add-recipe-title {
    margin-top: 24px;
}

form {
    margin: 30px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-group > div {
    display: flex;
}

.form-group > div input {
    width: 50%;
    margin-right: 10px;
}

.form-group > div .btn {
    min-width: 60px;
}

.form-group input,
.form-group textarea {
    outline: none;
    padding: 6px 8px;
}

.form-group label {
    margin-bottom: 8px;
}

fieldset legend {
    margin-bottom: 6px;
}

form .btn {
    padding: 6px;
}

fieldset ul {
    margin-bottom: 12px;
    list-style-type: decimal;
}

fieldset ul li {
    margin: 4px 0;
}